<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<title>REPLACE_PDF_NAME</title>
		<!-- start needed js libraries -->
		<link type="text/css" rel="stylesheet" href="css/pageflip.css">	
		<link type="text/css" rel="stylesheet" href="css/pageflip-custom.css">	
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>	
		<script type="text/javascript" src="js/pageflip5-min.js"></script>
		<!-- end needed js libraries -->
	</head>
	<body>
		<!-- start embed pageflip -->
		<div id="pageflip">
